.upper {
 min-height: 200px;
 max-height: 50%;
}

.center{

    padding-top: 4em;
    //display: block;
}

.btn{
    color: #00112e;

    background: white;
}

.big_text{
    color: white;
    font-size: 35pt;
    margin: auto;
    padding-bottom: 10px;
    display: block;
}

.green{
    color: rgb(10, 170, 10);
}